body{
  background-image: url(../images/background-image-website-main.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.container{
  background-color: black;
}
#body{
	padding:30px;
}
#nav{

    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 #nav {
  overflow:hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
  width: 50%;

}
a:visited {
COLOR: ;
}
a:hover {
COLOR: blue;
}
/*a:active {     changes color when clicked
COLOR: white;
}*/

}

