body{
	
	background-attachment: fixed;
	background-color: black;
	
}
#carousel-example-generic{
  width: 200px;
  margin-top: 1%;
  margin-left: 10%;
}
#map_canvas {
        width: 500px;
        height: 400px;
}