.container{
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px;
}
body{
  background-image: url(../images/background-image-website-main.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}

#body{
	padding:30px;
}

#nav{

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
 }
 #nav {
  overflow:hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
  width: 50%;

}
a:visited {
COLOR: white;
}
a:hover {
COLOR: blue;
}
/*a:active {     changes color when clicked
COLOR: white;
}*/

}

